.menu {
    border-bottom: 1px solid;
    border-color: rgb(189, 189, 189);
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
}

.main_inner {
    margin: 0;
    padding: 0;
    position: relative;
    padding-right: 150px;
}

.menu_inner {
    position: relative;
}

ul {
    margin-top: 28px;
    list-style: none;
}

.menu_inner > ul > li {
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
    margin-right: 40px;
}

a {
    color: rgb(168, 168, 168);
    text-decoration: none;
}