.Hashtag {
  text-align: center;
  margin-top: 50px;
}

.hashtag_wrap button {
  font-size: 16px;
  font-weight: 400;
  border: 0;
  margin: 7px;
  height: 55px;
  width: 125px;
  border-radius: 30px;
  background-color: rgb(247, 247, 247);
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.button-container button {
  font-size: 15px;
  border: 0;
  margin-top: 50px;
  height: 50px;
  width: 90px;
  border-radius: 5px;
  color: #fff;
  background: #333;
  transition: background-color 0.3s, color 0.3s;
}

.hashtag_wrap button:hover {
  cursor: pointer;
  
}

.hashtag_wrap button:active {
  transform: scale(0.98);
}

.hashtag_wrap .selected {
  background-color: rgb(86, 127, 242);
  color: white;
}

.button-container {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.tag-container {
  margin-top: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.hashtag_wrap {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 7%;
  padding: 60px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}