.Hashtag {
  text-align: center;
  margin-top: 50px;
}

.tag-container button {
  width: 120px;
}

.selected {
  background-color: #4caf50;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.button-container {
  margin-top: 40px;
}

ul {
  list-style: none;
  padding: 0;
}
.tag-container {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}
