.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f8f9fa;
}

input[type="text"] {
  margin: 10px 0;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #007bff;
}