.label {
  margin-bottom: 96px;
}

.label * {
  display: inline-block;
  vertical-align: top;
}

.label .left {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  vertical-align: top;
  width: 7px;
}

.label .center {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;
  display: inline-block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}

.label .right {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  width: 6px;
}

.list_wrap {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 85px;
    border: 1px solid #e5e6e8;
    width: 16%;
    height: calc(100vh - 80px);
}

.result-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #e5e6e8;
}
  
.result-button-container .button {
    background-color: #fff;
    border: 1px solid #adadad;
    color: #888;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.list {
  height: calc(100vh - 202px);
  overflow: auto;
  flex-direction: column; 
  align-content: start; 
  overflow-y: scroll;
}

.list li.place {
  width: 100%;
  border-bottom: 1px solid #e5e6e6e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.loader_wrap {
  margin-top: 30vh;
}

.planner {
    position: fixed;
    z-index: 2;
    right: 40px;
    bottom: 60px;
    width: 270px;
    height: 400px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e6e8;
    background-color: #fff;
    border-radius: 5%;
    overflow: auto;
  }
  
  .planner_name{
    color:#414141;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .planner ul {
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .planner li {
    color:#5e5e5e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    width: 100%;
  }
  .info {
    width: 70%;
  }
  
  .planner button {
    border: 1px solid #888;
    border-radius: 20%;
    background-color: #fff;
    cursor: pointer;
    font-size: 1em;
    color: #888;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    padding: 0;
    margin: 12px 7px 9px 7px;
  }
  
  .planner button:hover {
    background-color:#e6e6e6;
  }

.place_button_wrap {
  width: 30%;
}

.place button {
    border: 1px solid #888;
    border-radius: 20%;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    color: #888;
    width: 25px;
    height: 25px;
    line-height: 18px;
    text-align: center;
    padding: 0;
}

.place button:hover {
  background-color:#e6e6e6;
}

.popup {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10;  
  background: white; 
  max-width: 650px;
  padding-bottom: 40px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  max-height: 70vh;
  overflow-y: auto;
}

.popup_backdrop {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;   
  height: 100%; 
  background: rgba(0, 0, 0, 0.5); 
  z-index: 5; 
}

.popup_image {
  margin: 4% 15%;
  width: 70%;
  height: auto;
  max-height: 300px;
  object-fit: cover; 
}

.popup_text {
  margin: 4% 10%;
  font-family: "Noto Sans KR"; 
  font-size: 15px;
  line-height: 1.5; 
}

.popup button {
    border: 1px solid #888;
    border-radius: 20%;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    color: #888;
    width: 35px;
    height: 35px;
    padding: 0;
}

.popup button:hover {
  background-color:#e6e6e6;
}

.popup::-webkit-scrollbar {
  width: 8px;
}

.popup::-webkit-scrollbar-track {
  background: #f5f5f5; 
  border-radius: 10px; 
}

.popup::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 10px;
}

.close_button {
  margin-right: 20px;
  text-align: right;
}